nav.navbar.navbar-default
  .container
    p.navbar-text
      | #{$i18n.footer.copyright}
    ul.nav.navbar-nav.navbar-right
      li: a(href='http://imomohub.org/'): img(src='images/imomo.png')
      li: a(href='http://www.hydrosolutions.ch/'): img(src='images/logoHS.png')
      li: a(href='http://meteo.kg/'): img(src='images/kyrgyzstan_emblem.svg')
